:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --buttons-color: #f5f4fa;
  --feed-back-color: rgba(255, 255, 255, 0.6);
}

.styles-body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header  {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header > .container {
  display: flex;
  align-items: center;
}
.navigation-site {
  display: flex;
  align-items: center;
}

.container-logo {
  margin-right: 93px;
}
.site-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif, Oleo Script, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.site-logo .logo-primary {
  color: var(--title-text-color);
}
.site-logo .logo-secondary {
  color: var(--white-color);
}

.container-list-links {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: auto;
  width: 294px;
}
.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .nav-list-item:not(:last-child){
  margin-right: 50px;
}
.site-nav .link-contacts {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.currant {
  color: var(--accent-color);
}

.link::before {
  position: relative;
}

.currant::after {
  position: absolute;
  display: flex;
  flex-direction: column;
  content:'';
  width: 48px;
  height: 4px;
  margin-top: 34px;
  background: #2196F3;
  border-radius: 2px;
}

.container-contacts:not(:last-child){
  margin-right: 50px;
}

.site-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-contacts .contacts- {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.site-contacts .contacts-currant:hover,
.site-contacts .contacts-currant:focus {
  color: var(--accent-color);
}

.contact-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.contacts-currant:hover .contact-icon,
.contacts-currant:focus .contact-icon {
  fill: var(--accent-color);
}
.contacts-currant:hover .contact-icon::after,
.contacts-currant:focus .contact-icon::after {
  fill: var(--accent-color);
}

.footer-adress{
  padding: 60px 0px;
}
.footer-content {
  display: flex;
  align-items:baseline;
}
.container-adress{
  width: 270px;
  align-items: center;
}
.adress {
  background: var(--background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.site-adress {
  color: var(--white-color);
}
.feed-back {
  color: var(--feed-back-color);
}

.join {
display: inline-block;
padding-bottom: 20px;
color:#FFFFFF;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.social-link-change {
  display: flex;  
  align-items:center;  
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.social-link-change:not(last-child) {
  margin-right: 10px;
}
.social-link-change:hover,
.social-link-change:focus {
 background-color: #2196F3;
}
.social-icon-change {
  fill: #FFFFFF;
}
